{% block form_row %}
    <div class="mb-3">
        <label for="{{ form.vars.name }}" class="form-label">
            {{ form.vars.label ? form.vars.label : form.vars.name|capitalize }}: {{ form.vars.required ? '*' : '' }}
        </label>
        {% if form.vars.block_prefixes[1] is same as('checkbox') %}
            {% if form.vars.required %}
                <input type="checkbox" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" required value="1">
            {% else %}
                <input type="checkbox" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="1">
            {% endif %}
        {% elseif form.vars.block_prefixes[1] is same as('choice') %}
            <select id="{{form.vars.id}}" class="form-select" name="{{form.vars.full_name}}" value="{{form.vars.value}}">
                {% if form.vars.value is same as("") %}
                    <option selected value="">Choose a category</option>
                {% else %}
                    <option value="">Choose a category</option>
                {% endif %}
                {% for choice in form.vars.choices %}
                    {% if form.vars.value is same as(choice.value) %}
                        <option selected value="{{choice.value}}">{{choice.label}}</option>
                    {% else %}
                        <option value="{{choice.value}}">{{choice.label}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% elseif form.vars.block_prefixes[1] is same as('vich_image') %}
            <div class="vich-image">
                <input class="form-control" type="file" id="{{form.vars.id}}_file" name="{{form.vars.full_name}}[file]" accept="image/*">
            </div>
        {% elseif form.vars.block_prefixes[2] is same as('textarea') %}
            {% if form.vars.required %}
                <textarea class="form-control" aria-label="With textarea" id="{{form.vars.id}}" name="{{form.vars.full_name}}" value="{{form.vars.value}}" required></textarea>
            {% else %}
                <textarea class="form-control" aria-label="With textarea" id="{{form.vars.id}}" name="{{form.vars.full_name}}" value="{{form.vars.value}}"></textarea>
            {% endif %}
        {% else %}
            {% if form.vars.required %}
                <input type="{{form.vars.block_prefixes[2]}}" class="form-control" id="{{form.vars.id}}" name="{{form.vars.full_name}}" value="{{form.vars.value}}" required>
            {% else %}
                <input type="{{form.vars.block_prefixes[2]}}" class="form-control" id="{{form.vars.id}}" name="{{form.vars.full_name}}" value="{{form.vars.value}}">
            {% endif %}
        {% endif %}
        {{form_help(form)}}
        {% for error in form.vars.errors %}
            <p class="text-danger">{{error.message}}</p>
        {% endfor %}
    </div>
{% endblock %}