{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="mx-auto vh-100 row align-items-center" style="width: 400px;">
        <div class="card shadow rounded">
            <div class="card-body flex flex-column">
                <div class="text-center">
                    <h2>Register:</h2>
                </div>
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                {{ form_end(registrationForm) }}
                <a href="{{ path('login') }}" class="link-primary">Already have an account? Go to login page</a>
            </div>
        </div>
    </div>
{% endblock %}
